---
layout: baseLayout.liquid
---

<p>
    Lately I've have an interest in Web Components.
    My goal is to try and make some Web Components that are:
</p>
<ul>
    <li>
        Design system agnostic.
        I think components that are highly styleable are highly reusable.
    </li>
    <li>
        SEO friendly.
        My thought is that slot-heavy components will allow component content to be readable by search engines.
    </li>
</ul>

{% include webComponents/dropdown.liquid %}