---
layout: templates/baseLayout.liquid
---

<p>
    Lately I have been interested in Web Components.
    Below are toy versions of components that only encapsulate <em>behavior</em>.
    They can then be 100% styled by the project that uses them.
</p>

<hr>

<h3>Tabs</h3>

<x-tabs>
    <div class="tabRow">
        <x-tab>Tab 1</x-tab>
        <x-tab>Tab 2</x-tab>
        <x-tab>Tab 3</x-tab>
    </div>
    <x-tab-panel>Panel 1</x-tab-panel>
    <x-tab-panel>Panel 2</x-tab-panel>
    <x-tab-panel>Panel 3</x-tab-panel>
</x-tabs>

<hr>

<h3>Modal</h3>

<button onclick="document.querySelector('x-modal').active = true">Show Modal</button>
<x-modal>
    <x-modal-content>
        <div>A Modal</div>
        <x-modal-dismiss>X</x-modal-dismiss>
    </x-modal-content>
</x-modal>