---
layout: baseLayout.liquid
---

<p>
    Lately I've been interested in Web Components.
    My goal is to try and make some Web Components that are:
</p>
<ul>
    <li>
        Design system agnostic.
        I think components that are highly styleable are highly reusable.
        This probably means limiting the use of the shadow DOM.
    </li>
    <li>
        SEO friendly.
        Limited use of template HTML.
    </li>
</ul>
<p>
    These components are a work in progress.
</p>


<hr>
{% include webComponents/dropdown.liquid %}
<hr>
{% include webComponents/tabs.liquid %}
