---
layout: baseLayout.liquid
---

<p>
    Lately I have been interested in Web Components.
    Below are toy versions of components that only encapsulate <em>behavior</em>.
    They can then be 100% styled by the project that uses them.
</p>

<hr>
{% include webComponents/tabs.liquid %}

<hr>
{% include webComponents/modal.liquid %}