---
layout: baseLayout.liquid
---

<p>
    Lately I have been interested in Web Components.
    I think there is a lot of potential to encapsulate the Javascript used for many common UX widgets, while allowing them to be 100% styleable.
    These can be used as building blocks to other Web Components, or as ready-to-use Javascript to build your own design system.
    Since they do not use the shadow DOM, they are also SEO-friendly.
</p>
<p>
    These components are a work in progress.
</p>


<hr>
{% include webComponents/visibilityToggle.liquid %}
<hr>
{% comment %}{% include webComponents/tabs.liquid %}{% endcomment %}
