---
layout: baseLayout.liquid
---

<p>
    Lately I have been interested in Web Components.
</p>

<h2>Building Blocks</h2>
<p>
    These components aim to encapsulate the javascript for a general user interaction.
    They are 100% customizable and styleable.
    They are most useful as building blocks for more advanced components.
</p>

<hr>
{% include webComponents/toggle.liquid %}

<hr>
{% include webComponents/mux.liquid %}
