{% extends 'base-layout.html.twig' %}

{% block inlineCss %}
  {% include 'css/about.css' %}
{% endblock %}

{% block main %}
  <p>I should probably put contact info here.</p>

  <p>Some icons on this site provided by <a class="textLink" href="https://svgrepo.com">SVG Repo</a>.</p>
{% endblock %}