{% extends 'baseLayout.html.twig' %}

{% block inlineCss %}
  {% include 'css/games.css' %}
{% endblock %}

{% block js %}
  <script type="module" src="/js/pages/games.js"></script>
{% endblock %}

{% block main %}
  <h3>Hot and Cold</h3>
  <x-huntgame></x-huntgame>

  <h3>Math Practice</h3>
  <x-math-practice></x-math-practice>
{% endblock %}