{% extends 'baseLayout.html.twig' %}

{% block inlineCss %}
  {% include 'css/games.css' %}
{% endblock %}

{% block main %}
  <a href="/games/hotandcold" class="gameContainer">
    <div class="imageContainer">
      <img src="/images/hotandcold.png">
    </div>
    <div class="description">
      <h3>Hot and Cold</h3>
      <div>
        Click around the grid to find the winning square.
        Colors will tell you if you're getting warmer or colder.
      </div>
    </div>
  </a>

  <a href="/games/mathpractice" class="gameContainer">
    <div class="imageContainer">
      <img src="/images/mathpractice.png">
    </div>
    <div class="description">
      <h3>Math Practice</h3>
      <div>
        Practice multiplication and division.
        Designed by Elizabeth.
      </div>
    </div>
  </a>
{% endblock %}