{% extends 'baseLayout.html.twig' %}

{% block inlineCss %}
  {% include 'css/games.css' %}
{% endblock %}

{% block main %}
  <a href="/hotandcold">Hot and Cold</a>
  <br><br>
  <a href="/mathpractice">Math Practice</a>
{% endblock %}