{% extends 'baseLayout.html.twig' %}

{% block inlineCss %}
  {% include 'css/mathpractice.css' %}
{% endblock %}

{% block js %}
  <script type="module" src="/js/pages/mathpractice.js"></script>
{% endblock %}

{% block main %}
  <h3>Math Practice (work in progress)</h3>
  <x-math-practice></x-math-practice>
  <hr style="margin: 15px">
  <x-mathrace></x-mathrace>
{% endblock %}