{% extends 'base-layout.html.twig' %}

{% block inlineCss %}
    {% include 'css/web-components.css' %}
{% endblock %}

{% block js %}
    <script type="module" src="/js/pages/web-components.js"></script>
{% endblock %}

{% block lib %}
    {% include 'lib/highlightjs.html.twig' %}
{% endblock %}

{% block main %}
    <p>
        Lately I have been interested in Web Components.
        Below are toy versions of components that only encapsulate <em>behavior</em>.
        They can then be 100% styled by the project that uses them.
    </p>

    <a href="/web-components/tabs" class="webComponentLink">Tabs</a>
    <a href="/web-components/modal" class="webComponentLink">Modal</a>
    <a href="/web-components/dropdown" class="webComponentLink">Dropdown</a>
{% endblock %}