<script type="module" src="/webcomponents/js/tabs.js"></script>

<h2>Tabs</h2>

<xmp>
<mike-tabs>
    <ul>
        <li class="active">Tab 1</li>
        <li>Tab 2</li>
        <li>Tab 3</li>
    </ul>
    <ul>
        <li class="active">Content 1</li>
        <li>Content 2</li>
        <li>Content 3</li>
    </ul>
</mike-tabs>
</xmp>

<h3>(Nearly) Unstyled</h3>
<p>
    The tabs component doesn't use the shadow DOM, so it relies on the user to customize all styles, including hiding content that does not have the <em>active</em> class.
    The example below just highlights whichever tab/content pair would be active.
    The benefit is that the component can gracefully handle adding and removing tabs.
</p>
<style>
    mike-tabs.nearlyUnstyled .active {
        color: green;
    }
</style>
<mike-tabs class="nearlyUnstyled">
    <ul>
        <li class="active">Tab 1</li>
        <li>Tab 2</li>
        <li>Tab 3</li>
    </ul>
    <ul>
        <li class="active">Content 1</li>
        <li>Content 2</li>
        <li>Content 3</li>
    </ul>
</mike-tabs>

<h3>Basic Styles</h3>
<style>
    mike-tabs.basicStyles {
        background-color: white;
    }
    mike-tabs.basicStyles .tabList {
        list-style: none;
        display: flex;
        padding: 0;
    }
    mike-tabs.basicStyles .tab {
        padding: 12px 20px;
        border-bottom: 1px solid #ccc;
    }
    mike-tabs.basicStyles .tab.active {
        border: 1px solid #ccc;
        border-bottom: 0;
    }
    mike-tabs.basicStyles .tabContentList {
        list-style: none;
        padding: 0;
    }
    mike-tabs.basicStyles .tabContent:not(.active) {
        display: none;
    }
</style>
<mike-tabs class="basicStyles">
    <ul class="tabList">
        <li class="tab active">Tab 1</li>
        <li class="tab">Tab 2</li>
        <li class="tab">Tab 3</li>
    </ul>
    <ul class="tabContentList">
        <li class="tabContent active">Content 1</li>
        <li class="tabContent">Content 2</li>
        <li class="tabContent">Content 3</li>
    </ul>
</mike-tabs>
