<script type="module" src="/webcomponents/js/visibilityToggle.js"></script>

<h2>Visibility Toggle</h2>
<p>
    This started as a Dropdown component, but was generalized to a Visibility Toggle.
    A Visibility Toggle consists of a trigger, some content, and the component gaining or losing an attribute when the trigger is interacted with.
</p>

<h3>Basic</h3>
<xmp>
<style>
    mike-visibility-toggle.basic [data-content] {
        display: none;
    }
    mike-visibility-toggle.basic[show] [data-content] {
        display: block;
    }
</style>
<mike-visibility-toggle class="basic">
    <button data-trigger>Click me</button>
    <div data-content>Content</div>
</mike-visibility-toggle>
</xmp>
<style>
    mike-visibility-toggle.basic [data-content] {
        display: none;
    }
    mike-visibility-toggle.basic[show] [data-content] {
        display: block;
    }
</style>
<mike-visibility-toggle class="basic">
    <button data-trigger>Click me</button>
    <div data-content>Content</div>
</mike-visibility-toggle>


<h3>Styled with Indicator</h3>
<style>
    mike-visibility-toggle.styledWithIndicator .trigger {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
    mike-visibility-toggle.styledWithIndicator .indicator {
        transition: all 0.2s ease;
    }
    mike-visibility-toggle.styledWithIndicator[show] .indicator {
        transform: rotate(-180deg);
    }
    mike-visibility-toggle.styledWithIndicator .content {
        padding: 16px 24px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: 0;
    }
    mike-visibility-toggle.styledWithIndicator [data-content] {
        display: none;
    }
    mike-visibility-toggle.styledWithIndicator[show] [data-content] {
        display: block;
    }
</style>
<mike-visibility-toggle class="styledWithIndicator">
    <div data-trigger class="trigger">
        <div class="triggerText">Click here for content</div>
        <div class="indicator">☝</div>
    </div>
    <div data-content class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</mike-visibility-toggle>
