<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Mike Schreiber</title>
  <meta name="description" content="Mike Schreiber">
  <meta name="author" content="Mike Schreiber">

  <meta property="og:title" content="Mike Schreiber">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mikeschreiber.dev/">
  <meta property="og:description" content="Mike Schreiber's Page">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

  <style>
    {% include 'css/site.css' %}
    {% block inlineCss %}{% endblock %}
  </style>

  {% block js %}{% endblock %}

</head>

<body>
<h1>Mike Schreiber</h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/webcomponents">Web Components</a></li>
  </ul>
</nav>
<main>
  {% block main %}{% endblock %}
</main>
</body>
</html>