<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Mike Schreiber</title>
  <meta name="description" content="Mike Schreiber">
  <meta name="author" content="Mike Schreiber">

  <meta property="og:title" content="Mike Schreiber">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mikeschreiber.dev/">
  <meta property="og:description" content="Mike Schreiber's Page">

  <style>
    {% include 'css/site.css' %}
    {% include 'css/patterns/nav.css' %}
    {% block inlineCss %}{% endblock %}
  </style>

  {% block js %}{% endblock %}

</head>

<body>
<h1>Mike Schreiber</h1>

{% include 'patterns/nav.html.twig' %}

<main>
  {% block main %}{% endblock %}
</main>

</body>
</html>