<nav>
  <h1 class="mobileNavHeader">Mike Schreiber</h1>
  <ul>
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/webcomponents" title="Web Components">Web Components</a></li>
  </ul>
</nav>