{% set navLinks %}
    <a class="navLink" href="/" title="Home">Home</a>
    <a class="navLink" href="/web-components" title="Web Components">Web Components</a>
    <a class="navLink" href="/games" title="Games">Games</a>
    <a class="navLink" href="/about" title="About">About</a>
{% endset %}

<div class="globalHeading">
  <h1 class="nameHeader">Mike Schreiber</h1>
  <hr class="topSeparator">
  <x-dropdown class="hamburgerNav">
    <x-dropdown-toggle class="hamburgerButton">☰</x-dropdown-toggle>
    <x-dropdown-content class="hamburgerContent">
      <nav class="navLinks">
        {{ navLinks }}
      </nav>
    </x-dropdown-content>
  </x-dropdown>
  <hr class="bottomSeparator">
</div>