x-tabs .tabRow {
    display: flex;
}

x-tab {
    border-bottom: 1px solid #ccc;
    padding: 12px 20px;
    cursor: pointer;
}

x-tab[selected] {
    border: 1px solid #ccc;
    border-bottom: 0;
}

x-tab-panel {
    display: block;
    padding: 12px;
}
x-tab-panel[hidden] {
    display: none;
}