{% extends 'base-layout.html.twig' %}

{% block inlineCss %}
  {% include 'css/math-practice.css' %}
{% endblock %}

{% block js %}
  <script type="module" src="/js/pages/math-practice.js"></script>
{% endblock %}

{% block main %}
  <h3>Math Practice</h3>
  <x-mathrace></x-mathrace>
{% endblock %}