nav a:hover {
    font-weight: bold;
}

nav a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.globalHeading {
    display: grid;
    grid-template-areas:
        "name name"
        "top top"
        "nav nav"
        "bottom bottom"
}

.nameHeader {
    grid-area: name;
    margin: 12px 0;
}

.topSeparator {
    grid-area: top;
    width: 100%;
}

.hamburgerNav {
    grid-area: nav;
}

.bottomSeparator {
    grid-area: bottom;
    width: 100%;
}

.hamburgerButton {
    display: none;
    /*border: 1px solid;*/
    /*padding: 4px;*/
}

.navLinks {
    display: flex;
    gap: 1.5em;
    padding: 12px 0;
}

a.navLink:active,
a.navLink:hover,
a.navLink:link,
a.navLink:visited {
    color: var(--text-color);
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .globalHeading {
        grid-template-columns: 1fr auto;
        grid-template-areas:
        "top top"
        "name nav"
        "bottom bottom"
    }

    .nameHeader {
        font-size: 24px;
    }

    .hamburgerNav {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hamburgerButton {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .hamburgerContent {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10;
        background-color: #fff;
    }

    .hamburgerNav[active] .hamburgerContent {
        display: block;

    }

    .navLinks {
        gap: 0;
        flex-direction: column;
        border-radius: 8px;
        background-color: #eee;
        padding: 8px
    }

    .navLink {
        display: block;
        white-space: nowrap;
        margin: 8px;
    }
}

