.tabsDemo {
    x-tab-list {
        display: flex;

        x-tab {
            cursor: pointer;
            padding: 12px 32px;

            &[selected] {
                border-bottom: 3px solid var(--primary-color);
            }
        }
    }

    x-tab-panel {
        display: block;
        padding: 12px;

        &[hidden] {
            display: none;
        }
    }
}