.dropdownDemo {
    max-width: 200px;
    display: block;
}

.dropdownDemo ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.dropdownDemo .item {
    padding: 8px 16px;
    border: 1px solid #ccc;
}

.dropdownDemo x-dropdown-toggle {
    display: block;
    cursor: pointer;
}

.dropdownDemo x-dropdown-content {
    display: none;
}

.dropdownDemo x-dropdown-content .item {
    border-top: 0;
}

.dropdownDemo[active] x-dropdown-content {
    display: block;
}

.dropdownDemo x-dropdown-content {
    display: none;
}

