nav {
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    padding: 0;
}

nav a:hover {
    font-weight: bold;
}

nav a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

nav .mobileNavHeader {
    display: none;
}

@media only screen and (max-width: 600px) {

    nav .mobileNavHeader {
        /*display: block;*/
    }
}