:root {
    --text-color: #444;
    --primary-color: #336b87;
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    background: #fff;
}

a:link, a:visited, a:hover, a:active {
    color: var(--text-color);
    text-decoration: none;
}

nav {
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    padding: 0;
}

nav ul li:hover {
   font-weight: bold;
}

button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
}