:root {
    --text-color: #444;
    --primary-color: #336b87;
    --breakpointSmall: 600px;
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font-family: Verdana, sans-serif;
    color: var(--text-color);
    background: #fff;
}

a:link, a:visited, a:hover, a:active {
    color: var(--text-color);
    text-decoration: none;
}



button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 10px
    }

    .bigScreenHeader {
        display: none;
    }
}