<script type="module" src="/webcomponents/js/tabs.js"></script>

<h3>Tabs</h3>

<x-tabs>
    <div class="tabRow">
        <x-tab>Tab 1</x-tab>
        <x-tab>Tab 2</x-tab>
        <x-tab>Tab 3</x-tab>
    </div>
    <x-tab-panel>Panel 1</x-tab-panel>
    <x-tab-panel>Panel 2</x-tab-panel>
    <x-tab-panel>Panel 3</x-tab-panel>
</x-tabs>