{% extends 'base-layout.html.twig' %}

{% block inlineCss %}
  {% include 'css/link-like.css' %}
{% endblock %}

{% block js %}
  <script type="module" src="/js/components/link-like.js"></script>
  <script type="module" src="/js/components/code.js"></script>
{% endblock %}

{% block lib %}
  {% include 'lib/highlightjs.html.twig' %}
{% endblock %}

{% set textLinkDemo %}
<link-like href="/">A link of only text</link-like>
{% endset %}

{% set buttonLinkDemo %}
<link-like href="/" target="_blank">
  <button>A link as a button</button>
</link-like>
{% endset %}

{% block main %}
  <h2>Link Like</h2>
  <h3>Component</h3>
  <p>
    An <code>Link Like</code> is a generic container component with attributes and a click handler that behave exactly as a normal anchor tag.
    This can be useful for SEO purposes if you want content to behave as a link without it being possibly seen or indexed by search engines.
    The <code>Link Like</code> also implements the <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/link_role">ARIA "link" role</a>.
  </p>
  <p>
    The attribute interface for <code>&lt;link-like&gt;</code> is identical to that of an <code>&lt;a&gt;</code>, including <code>href</code> and <code>target</code>.
  </p>

  <x-code language="javascript">{% apply escape %}{% include 'components/link-like.js' %}{% endapply %}</x-code>

  <h3>Demo</h3>

  <x-code>{{ textLinkDemo|e }}</x-code>
  {{ textLinkDemo }}

  <x-code>{{ buttonLinkDemo|e }}</x-code>
  {{ buttonLinkDemo }}

{% endblock %}