:root {
    --text-color: #444;
    --primary-color: #336b87;
    --breakpointSmall: 600px;
}

body {
    display: flex;
    justify-content: center;
    font-family: Verdana, sans-serif;
    color: var(--text-color);
    background: #fff;
}

.pageContent {
    width: min(900px, 100%);
    margin: 0 15px;
}

a:link, a:visited, a:hover, a:active {
    color: var(--text-color);
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
}

@media only screen and (min-width: 900px) {
    .pageContent {
        width: 900px;
    }
}

@media only screen and (max-width: 600px) {
    .bigScreenHeader {
        display: none;
    }
}